html body {
  background-color: hsl(225, 100%, 94%);
  padding: 0;
  margin: 0;
  border: 0;
  background-image: url('./assets/images/pattern-background-desktop.svg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;

}
